/*------------------------------*/
/*                              */
/* Jeu         : Tanker         */
/* Version     : 3.0            */
/* Developpeur : remyandvincent */
/* Partie      : css            */
/*                              */
/*------------------------------*/


/*
*
* Partie reset du css
*
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
* Partie habillement du site
*
*/

body {
	background-image: url(../img/background.jpg);
	font-family: sans-serif;
}

canvas {
	/*border:solid 1px black;*/
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
	margin-right: 10px;
	display: none;
}

#infos {
	width: 300px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.8);
	float: left;
	margin-top: 10px;
	color: #ffffff;
	display: none;
}

#infos img {
	margin-left: 10px;
	margin-top: 10px;
	float: left;	
}

#infos h1 {
	font-size: 1.2em;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#infos div {
	width: 280px;
	height: 1px;
	background-color: #ffffff;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#infos p {
	clear: both;
	margin-left: 10px;
	display: block;
	margin-top: 10px;
}

#message {
	color: #16a085;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 20px;
}

.bouton {
	color: #16a085;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
	border: none;
	text-align: center;
	width: 200px;
	cursor: pointer;
}

.bouton:hover {
	background-color: #16a085;
	color: #ffffff;
}